.btn {
  border: none;
  cursor: pointer;
  background: #c0965c;
  border-radius: 10px;
  padding: 26px 45px;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  &:disabled,
  &:disabled:hover {
    background: #191919;
    color: #333333;
  }
}
